################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/test/ActivityStreams.UnitTests/TestResults
/test/TestResults
/test/TestCoverage
/SonarTestResults.xml
/test/ActivityStreams.UnitTests/bin/*
/test/ActivityStreams.UnitTests/obj/*
/src/ActivityStreams.Models/bin/*
/src/ActivityStreams.Models/obj/*
